body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin-top: 150px;
    transition: margin-left 0.3s ease-in-out;
}

body.side-nav-open{
    margin-left: 250px; /* Ancho del sidenav */
    transition: margin-left 0.3s ease-in-out;
}

header {
    background-color: #333;
    color: white;
    padding: 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 2;
    left: 0 ;

}

.navbar {
    display: flex;
    align-items: center;
}

#toggleNav {
    background: none;
    border: none;
    color: white;
    font-size: 27px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

#sideNav {
    width: 250px;
    height: 100%;
    background-color: #333;
    position:fixed;
    left: -250px;
    top: 0;
    transition: left 0.3s ease-in-out;
    margin-top: 90px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

#sideNav.open {
    left: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555;
}

a.logo_Atzp{
    padding: 2px;
}

a.logo_Atzp, .profile_nav:hover{
    background-color: #333;
}

.profile_nav{
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_name{
    margin: 20px;
    font-size: 20px;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    font-style: oblique;
}

.dashboard{
    height: 130vh;
}

.Dashb_container{
    margin: 80px;
    height: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header header header";
    grid-auto-rows: minmax(150px, 1fr);
    gap: 30px;
    align-content: center;
}

.item-1, .item-2, .item-3, .item-4{
    border: 2px black solid;
    border-radius: 9px;
    padding: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);;
}

.item-1{
    grid-row: 1 /  2;
    grid-column: auto;
}

.item-2{
    grid-row: 1 / 2;
    grid-column: auto;
}

.item-3{
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.item-4{
    grid-row: 1 / 4;
    grid-column: 3 / 5;
}

#comedores{
    max-height: 250px;
    overflow-y: scroll;
}