body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin-top: 150px;
    transition: margin-left 0.3s ease-in-out;
    background-color: #f4f4f4;
}

body.side-nav-open{
    margin-left: 70px; /* Ancho del sidenav */
    transition: margin-left 0.3s ease-in-out;
}

header {
    background-color: #333;
    color: white;
    padding: 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 2;
    left: 0 ;

}

.navbar {
    display: flex;
    align-items: center;
}

#toggleNav {
    background: none;
    border: none;
    color: white;
    font-size: 27px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 20px;
}

#sideNav {
    width: 250px;
    height: 100%;
    background-color: #333;
    position:fixed;
    left: -250px;
    top: 0;
    transition: left 0.3s ease-in-out;
    margin-top: 80px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

#sideNav.open {
    left: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #555;
}

a.logo_Atzp{
    padding: 2px;
}

a.logo_Atzp, .profile_nav:hover{
    background-color: #333;
}

.profile_nav{
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_name{
    margin: 20px;
    font-size: 20px;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    font-style: oblique;
}

.dashboard{
    height: 130vh;
}

.Dashb_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 9fr;
    grid-auto-rows: minmax(150px, 1fr);
    margin-top: 25px;
    margin-left: 400px;
    margin-right: 400px;
    height: 75%;
    gap: 30px;
    row-gap: 0;
    align-content: center;
}

.item-1, .item-2, .item-3{
    background-color: white;
    border-radius: 9px;
    padding: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 9fr;
    gap: 0;
}

.item-1{
    grid-row: auto;
    grid-column: auto;
}

.item-2{
    grid-row: auto;
    grid-column: auto;
}

.item-3{
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
}

#sub-item1, #sub-item2, #sub-item3{
    text-align: end;
}

.encabezado{
    grid-row: 1;
    grid-column: auto ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.encabezado span{
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.content{
    grid-row: 2;
    grid-column: 1 / span 3;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

#content3{
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
}

#content1, #content2, #content3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.value{
    font-size: 30px;
}

.item-1, .item-2{
    height: 70%;
}

#dona{
    height: 450px;
}
