
{% extends 'layout.html' %}

{% block body %}


    <!-- Contenido de las secciones -->
<div class="dashboard">

    <div class="Dashb_container">
        <div class="item-1" id="afluencia_dia">
            <form action="" method="get">
                Afluencia hoy
            </form>
        </div>
        
        <div class="item-2" id="recaudacion_dia">   
            <form action="" method="get">
                Recaudación hoy
            </form>
        </div>
        
        <form action="" method="get">
            <div class="item-3" id="comidas">
                Comidas repartidas de todos los comedores | Día
            </div>
        </form>
        
        <form action="" method="get">
            <div class="item-4" id="afluencia_mes">
                Afluencia este mes
            </div>
        </form>
    

    </div>
</div>


{% endblock %}