
{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block body %}


    <!-- Contenido de las secciones -->
<div class="dashboard">

    <div class="Dashb_container">

        <div class="item-1" id="afluencia_dia">
            <div class="encabezado" id="encabezado1">Afluencia hoy</div>
            <form action="/tablero/afluencia/{{ idComedor }}" method="get" class="sub-grid" id="sub-item1">
                <label for="comedor">Comedor:</label>
                <select id="comedor" name="comedor">
                    <!-- Aquí puedes iterar sobre tus comedores y crear una opción para cada uno -->
                    {% for comedor in comedores %}
                    <option value="{{ comedor.id }}">{{ comedor.nombre }}</option>
                    {% endfor %}
                </select>
            </form>
            <div class="content" id="content1">
                <!-- Aquí puedes mostrar los datos de afluencia -->
                {{ afluencia_dia }}
            </div>
        </div>

        <div class="item-2" id="recaudacion_dia">
            <div class="encabezado" id="encabezado2">Recaudación hoy</div>
            <form action="/tablero/recaudacion/{{ idComedor }}" method="get" class="sub-grid" id="sub-item2">
                <label for="comedor">Comedor:</label>
                <select id="comedor" name="comedor">
                    <!-- Aquí puedes iterar sobre tus comedores y crear una opción para cada uno -->
                    {% for comedor in comedores %}
                        <option value="{{ comedor.id }}">{{ comedor.nombre }}</option>
                    {% endfor %}
                </select>
            </form>

            <div class="content" id="content2">
                <!-- Aquí puedes mostrar los datos de recaudación -->
                {{ recaudacion_dia }}
            </div>
        </div>

        <div class="item-3" id="afluencia_mes">
            <div class="encabezado" id="encabezado3">Afluencia por mes</div>
            <form action="/tablero/afluencia_mes/{{ idComedor }}" method="get" class="sub-grid" id="sub-item3">
                <label for="comedor">Comedor:</label>
                <select id="comedor" name="comedor">
                    <!-- Aquí puedes iterar sobre tus comedores y crear una opción para cada uno -->
                    {% for comedor in comedores %}
                        <option value="{{ comedor.id }}">{{ comedor.nombre }}</option>
                    {% endfor %}
                </select>
            </form>
            <div class="content" id="content3">
                <!-- Aquí puedes mostrar los datos de afluencia mensual -->
                {{ afluencia_mes }}
            </div>
        </div>

        <div class="item-4" id="total_comensales">
            <div class="encabezado" id="encabezado4">Total de voluntarios registrados</div>
            <form action="/tablero/inscritos/{{ idComedor }}" method="get" class="sub-grid" id="sub-item4">
                <label for="comedor">Comedor:</label>
                <select id="comedor" name="comedor">
                    <!-- Aquí puedes iterar sobre tus comedores y crear una opción para cada uno -->
                    {% for comedor in comedores %}
                        <option value="{{ comedor.id }}">{{ comedor.nombre }}</option>
                    {% endfor %}
                </select>
            </form>
            <div class="content" id="content4">
                <!-- Aquí puedes iterar sobre tus empleados y listarlos -->
                {% for empleado in empleados %}
                    <p>{{ empleado.nombre }}</p>
                {% endfor %}
            </div>
        </div>
    

    </div>
</div>


{% endblock %}