<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Log in DIF+ App</title>
</head>
<body>
    <div class="login-container">
        <form class="login-form">
            <h2>Bienvenido</h2>
            <img class="logo" src="../images/dae21140-87ad-4b93-a6a1-50a300632bbe1.webp" width="250px">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>
