<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comedores</title>
   
</head>
<body>
    <div class="container" id="topbar">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
           <label class="logo">DIF Atizapán</label>
           <ul>
            <li><a href="#Estadisticas">Estadisticas</a></li>
            <li><a href="#Administrar_comedores">Administrar comedores</a></li>
            <li><a href="#Personal">Personal</a></li>
            <li><a href="#Ubicaciones">Ubicaciones</a></li>
           </ul>
        </nav>
    </div> 

    <div class="container" id="Home1">

        <div class="container" id="Estadisticas">
            <h1>Estadísticas</h1>
            <img src="../images/estadisticas.png" alt=icono_estats" width="400px" id="est_img">
        </div>
    
        <div class="container" id="Administrar_comedores">
            <h1>Administrar</h1>
            <img src="../images/admin.png" width="400px">
        </div>

    </div>

    <div class="container" id="Home2">

        <div class="container" id="Personal">
            <h1>Personal</h1>
            <img src="../images/personal.png" width="400px">
        </div>
    
        <div class="container" id="Ubicaciones">
            <h1>Ubicaciones</h1>
            <img src="../images/ubicaciones.png" width="400px">
        </div>

    </div>


</body>
</html>