{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/personal.css">
{% endblock %}

{% block seccion %}
<a href="/personal">Personal</a>
{% endblock %}

{% block body %}

<div class="dashboard">
    
    <!-- Contenido de las secciones -->
    <div class="dashb_personal">
    <!--Se necesita organizar por comedor-->
        <div class="container">
            <div class="item-4" id="empleados">
                <div class="encabezado" id="encabezado1">
                    Administradores
                    <span>| Por comedor</span>
                </div>
                <form action="/personal_lista" method="get" class="sub-grid" id="sub-item2">
                    <label for="comedor">Comedor:</label>
                    <select id="comedor" name="comedor">
                        <option value="Comedor A">Comedor A</option>
                        <option value="Comedor B">Comedor B</option>
                        <option value="Comedor C">Comedor C</option>
                        <option value="Comedor D">Comedor D</option>
                        <option value="Comedor E">Comedor E</option>
                        <option value="Comedor F">Comedor F</option>
                        <option value="Comedor G">Comedor G</option>
                        <option value="Comedor H">Comedor H</option>
                        <option value="Comedor I">Comedor I</option>
                        <option value="Comedor J">Comedor J</option>
                        <option value="Comedor K">Comedor K</option>
                        <option value="Comedor L">Comedor L</option>
                        <option value="Comedor M">Comedor M</option>
                        <option value="Comedor N">Comedor N</option>
                        <option value="Comedor O">Comedor O</option>
                        <option value="Comedor P">Comedor P</option>
                        <option value="Comedor Q">Comedor Q</option>
                        <option value="Comedor R">Comedor R</option>
                    </select>
                </form>
                <div class="content" id="lista-administradores">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>CURP</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td id="admin-nombre">{% if personal_lista %}{{ personal_lista.nombre }}{% endif %}</td>
                                <td id="admin-curp">{% if personal_lista %}{{ personal_lista.curp }}{% endif %}</td>
                            </tr>
                        </tbody>
                            
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="../static/js/personal.js"></script>
{% endblock %}