{% extends 'layout.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/recaudacion.css">
{% endblock %}

{% block javascript %}
<script src="../static/js/app.js"></script>
{% endblock %}

{% block body %}

    <!-- Contenido de las secciones -->
    <div class="container"> <!-- Contenedor principal con CSS Grid -->
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="myDoughnutChart"></canvas> <!-- Agregamos un nuevo canvas para el gráfico de doughnut -->
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        const ctx = document.getElementById('myChart');
    
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    
        // Crear un gráfico de tipo 'doughnut' con datos aleatorios
        const ctxDoughnut = document.getElementById('myDoughnutChart');
    
        new Chart(ctxDoughnut, {
            type: 'doughnut',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple'],
                datasets: [{
                    data: [7, 12, 3, 9, 5],
                    backgroundColor: ['red', 'blue', 'yellow', 'green', 'purple']
                }]
            }
        });
    </script>

{% endblock %}

{% block scripts %}
    <script src="../static/js/script_donaciones.js"></script>
    <script src="../static/js/script_ventas.js"></script>
    
    
    <script src="../static/js/app.js"></script>
{% endblock %}
