{% extends 'layout.html' %}

{% block body %}

    <!-- Contenido de las secciones -->
<div class="dashboard">

    <div class="recaudacion_container">
        <div class="grid_item" id="recaudacion">
            Recaudación****
        </div>
        <div class="grid_item" id="donaciones">
            Donaciones
        </div>
        <div class="grid_item" id="ventas">
            Ventas
        </div>
        <div class="grid_item" id="porcentaje">
            Porcentaje | Ventas / Donaciones
        </div>
    </div>

</div>

{% endblock %}
